archives:
  - id: main
    format: binary
checksum:
  name_template: 'SHA256SUMS'
changelog:
  sort: asc
  filters:
    exclude:
    - '^docs:'
    - '^test:'
signs:
  -
    signature: "${artifact}.asc"
    artifacts: all
    args: ["--armor", "--output", "$signature", "--detach-sig", "$artifact"]
nfpms:
  -
    vendor: hamstah
    homepage: https://github.com/hamstah/awstools
    maintainer: Nico Esteves <contact@hamstah.com>
    license: MIT
    formats:
      - deb
      - rpm
release:
  draft: true
builds:
{% for build in builds %}
  - id: {{build.name}}
    env:
      - CGO_ENABLED=0
    dir: {{build.src}}
    binary: {{build.name}}
    goos:
      - linux
      - darwin
    goarch:
      - amd64
      - arm64
    ldflags:
      - -s -w -X github.com/hamstah/awstools/common.Version={{ '{{' }}.Version{{ '}}' }} -X github.com/hamstah/awstools/common.CommitHash={{ '{{' }}.ShortCommit{{ '}}' }}"
  {%- endfor %}
